.carousel-indicators {
	position: absolute;
    color: black;
    bottom: 0;
    top: 70%;

}

#banner_img {
	    /*background: url("../live.jpeg");*/
	    height: 100%;
	    position:relative;
	    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 1))), url('../live.jpeg') no-repeat;
      background-size: cover;
      padding: 0px !important;
        }
ul.nav_bar {

    list-style-type: none;
    margin: 0;
    padding: 15px;
	}
ul.nav_bar li {
    display: inline;
		padding: 5px;
}

ul.nav_bar li a {
	color: white;
}
ul.nav_bar li a:hover {
	color: #f15b72;
	transition: 0.5s;
}

footer ul`.nav_bar li a:hover {
	color: #687de4;
	transition: 0.5s;

}

#banner_img img {
	width: 130px;
	left: 6%;
	padding: 15px;
	position: absolute;
}
.item h2 {
	text-align: left;
}

/*#banner_img .fp-tableCell {
    padding-top: 80px;
    vertical-align: top !important;

}*/
/*.carousel-indicators li {
	background: #131a3b;
}

.carousel-indicators li.active {
	background: #131a3b;
}

.carousel-indicators li {
	background: #131a3b !important;
}
*/
#myCarousel .carousel-inner {
	height: 30% !important;
	color: #ffffff;
}

.carousel-inner h2 {
	font-size: 40px !important;
}

/*#banner_img {
	height: 500px;
}*/

/*nav.navbar {
	margin-bottom: 70px;
    width: 100%;
    padding: 10px;*/
/*   -webkit-box-shadow: 0px 2px 2px 1px rgba(105,105,105,1);
-moz-box-shadow: 0px 2px 2px 1px rgba(105,105,105,1);
box-shadow: 0px 2px 2px 1px rgba(105,105,105,1);*/
/*border-radius: 0px !important;
}*/

/*nav ul li a {
	color: white;
}

nav ul li a:hover {
	background: none !important;
	color: #f15b72;
	transition: 0.3s;
}

.navbar-brand img {
	width: 120px;
	padding: 10px;
}

.navbar-brand {
	padding: 0px !important;
}*/

#banner_img button {
		border-radius: 30px;
    border: 2px solid #f15b72;
    padding: 20px 40px 20px 40px;
    background: #f15b72 ;
    color: #ffffff;
		margin-bottom: 25px;
}

#banner_img button:hover {
	border-radius: 30px;
    border: 2px solid #f15b72;
    padding: 20px 40px 20px 40px;
    background: none ;
    color: #f15b72;
    transition: 0.5s;
}


iframe {
	padding: 15px;
  margin-top: 150px !important;
	border: none;
}


.create_campaign_btn {
	border-radius: 30px;
    padding: 18px;
    font-size: 18px;
    border: none;
    background: #d46868;
    color: white;
    font-weight: 300;
}

.create_campaign_btn:hover {
	border-radius: 30px;
    padding: 18px;
    font-size: 18px;
    background: none;
    font-weight: 300;
		border: 2px solid #f15b72;
  color: #f15b72;
	transition: 0.3s;
}



  .second_screen {
  	background: linear-gradient(rgba(19, 26, 59, 0.62),rgba(19, 26, 59, 0.85)),url(../Slice.jpg);
    background-size: cover;
    color: white;

  }

.perks {
  	 width: 75% !important;
    margin:0 auto !important;
  }

  .second_screen h3 {
  	font-size: 35px;
    margin-top: 40px;
    margin-bottom: 30px;
  }


  ul.nav-tabs li.active {
		padding: 5px;
    background: #131a3b;
    /*color: white;*/
    text-align: center;

}
ul.nav-tabs li {
	    font-size: 22px;
	    background: #131a3b !important;
}

ul.nav-tabs li a:hover {
	background: none;
	color: white;
	border:none !important;
	transition: 0.3s;
}


.nav-tabs>li.active>a {
	background-color: #131a3b !important;
	border-bottom-color: none;
    border-right-color: none;
    border:none !important;
    color: #f15b72 !important;
}

.nav-tabs>li.active {
	border-right: 3px solid #d46868;
}

.tab-pane p {
	padding: 10px;
	font-size: 20px;
	font-weight: 100;
    letter-spacing: 1px;

}




.fourth_page {
    background: linear-gradient(rgba(23, 23, 23, 0.91),rgba(29, 24, 24, 0.72)),url(../college_back.jpg);
    background-size: cover;
  }
  .fourth_page h1 {
        font-size: 55px;
    font-weight: 100;
    margin-bottom: 48px;
    margin-top: -50px;
    color: white;
    letter-spacing: 2px;
  }
  .process_daddyspocket {
    width: 90%;
    margin: 0 auto;
    padding: 0px !important;

  }

  .process_daddyspocket i {
  	font-size: 100px;
  	color: #dedede;
  	padding: 10px;
  }
  .process_1 , .process_2 , .process_3 {
    padding: 25px;
  }

  .process_1 i {
  	font-size: 110px !important;
  	padding-left: 25px !important;
  }

  .process_1 p, .process_2 p, .process_3 p {
     font-size: 24px;
    font-weight: 100;
    min-height: 200px;
    color: white;
    letter-spacing: 1px;

  }
.clients {
	margin-bottom: 30px;
}
.third_screen h3 {
	font-size: 35px;
	margin-bottom: 30px;
}

 .news_features {
 	width: 75% !important;
    margin: 0 auto !important;
    text-align: center;
    margin-top: 100px;
 }

  .news_features img {
  	width: 200px;
  }
	.clients {
		width: 80%;
		margin: 0 auto;
		margin-bottom: 30px;
	}
  .clients img {
  	width: 75px;
  }

  .second_screen p {
  	font-size: 20px;
  }

  .spacer {
  	position: relative;
    width: 50px;
    height: 1px;
    background-color: #fff;
    margin: 20px auto 20px;
  }

  .dot {
  	display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
  }


  /*3 dots and line */


  .line {
  	position: absolute;
    line-height: 1;
    left: 0;
    width: 100%;
    top: -9px;
  }

	.third_screen {
		background: linear-gradient(to right, #f4f5f7 , #f4f5f7);
	}


	footer {
		position: absolute;
    bottom: 0;
    width: 100%;
    background: #131a3b;
    padding: 20px;
    color: #606994;
	}





/*PRICING PAGE STYLES  STARTS HERE*/


.main_category {
	width: 50%;
margin: 0 auto;
margin-top: 60px;
margin-bottom: 50px;
}


input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: black;
    font-family:Arial, sans-serif;
    font-size:24px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:25px;
    height:25px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

.each_pref {
	border: 2px solid black;
	padding: 16px;
	/*min-height: 50px;*/
}
input[type="radio"] + label span {
     background-color:black;
}

input[type="radio"]:checked + label span{
     background-color: orange;
		 border: 8px solid black;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}


.preferences_brand input[type=checkbox] {
	/*display: none;*/
	    width: 30px;
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
	/*border: 1px solid black;*/
	padding: 10px;
}
input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}


.market_res , .cust_acq , .leads{
	padding: 20px;
    border-top: 2px solid black;
    font-size: 20px;
    border-bottom: 2px solid black;
    width: 75%;
    margin: 50px auto;

}


.corporate_contact {
	background: #8e9eab; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #f4f5f7, #f4f5f7); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f4f5f7 , #f4f5f7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.corporate_contact h2 {
	font-size: 40px;
	padding: 35px;
}
.corporate_contact input {
	width: 90%;
	padding: 15px;
	border-radius: 30px;
	border: none;
	margin-top: 10px;
	font-size: 20px;
}

.corporate_contact input:focus {
	 width: 90%;
	padding: 15px;
	border-radius: 30px;
	border: 1px solid #cecece;
	margin-top: 10px;
	outline: none;

}

.corporate_contact button {
	color: black;
}

.seven-cols i {
	font-size: 50px;
}




@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}
/* 14% = 100% (full-width row) divided by 7 */
